@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
@use '../utils/fonts' as font;

/* WIDTH */
.width-min {
    width: min(calc(100% - 2.75rem), f.rem(1110));
    margin-inline: auto;
}

/* HEADINGS */
.headings-light {
    h1, h2, h3, 
    h4, h5, h6 {
        color: var(--white);
    }
    
    p {
        color: var(--footer-txt);
    }
}

/* BUTTON STYLE */
.btn {
    background-color: transparent;
}

.btn-style {
    background-color: transparent;
    color: var(--headings);
    margin-inline: auto;

    img {
        transition: .3s ease-in-out;
    }
}

.btn-toggle {
    color: var(--btn-toggle); 
    
    img {
        transform: rotateX(180deg);
    }
}

/* LINKS */
.link {
    padding: f.rem(15) f.rem(22);
    border: 1px solid var(--white);
    border-radius: 50px;
    transition: all .3s ease-out;
}

.link-for-free {
    background-color: var(--white);
    color: var(--cta-txt);

    @include bp.breakpointMin(medium-screen) {
        &:hover {
            background-color: var(--cta-hover-bg);
            border-color: var(--cta-hover-bg);
            color: var(--white);
        }
    }
}

.link-learn-more {
    color: var(--white);

    @include bp.breakpointMin(medium-screen) {
        &:hover {
            background-color: var(--white);
            color: var(--cta-txt);
        }
    }
}

/* GOOGLE FONTS */
.overpass-light {
    font-family: font.$overpass;
    font-weight: 300;
}

.overpass-semi-bold {
    font-family: font.$overpass;
    font-weight: 600;
}

.ubuntu {
    font-weight: 400;
    font-family: font.$ubuntu;
}

.ubuntu-semi-bold {
    font-weight: 500;
    font-family: font.$ubuntu;
}

.ubuntu-bold {
    font-weight: 700;
    font-family: font.$ubuntu;
}