@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* MAIN */
.main {
    border-radius: 0 0 0 f.rem(78);
    background: var(--hero-gradient-bg);
    width: min(100%, f.rem(1440));
    margin-inline: auto;
    padding-block: f.rem(180) f.rem(140);
    overflow: hidden;

    &__bg-img {
        width: 320%;

        img {
            width: 100%;
        }
    }

    &__container {  
        margin-inline: auto;
        text-align: center;

        h1 {
            font-size: 2.1875rem;
            font-size: clamp(2.1875rem, 0.51rem + 7.16vw, 4rem);
        }

        p {
            margin-bottom: f.rem(45);
            padding-inline: f.rem(48);
        }
    }
}