@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* SECTION */

/* SECTION - FUTURE */
.future {
    overflow: hidden;
    padding-block: f.rem(100);
    width: 100%;
    text-align: center;

    h2 {font-size: 1.5rem;
        font-size: clamp(1.5rem, 1.16rem + 1.47vw, 2rem);
    }

    &__container {

        .future__img {
            width: 100%;
            
            img {
                width: 100%;
            }
        }

        & > article {
            width: min(100%, f.rem(540));

            div {
                h3 {
                    font-size: f.rem(32);
                    margin-bottom: f.rem(24);
                }

                p {
                    line-height: 1.7;
                }
            }
        }
    }

    @include bp.breakpointMin(large-screen) {
        h2 {
            margin-bottom: f.rem(48);
        }

        &__container {
            text-align: left;
        }
    }
}