@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* SECTION EDITOR */

.editor {
    width: 100%;
    // padding-bottom: f.rem(100);
    padding-block: f.rem(100);
    margin-inline: auto;

    &__container {

        .editor__img {
            width: 100%;

            img {
                width: 100%;
            }
        }

        & > article {
            margin-inline: auto;
            width: calc(100% - 44px);

            .features {
                width: min(100%, f.rem(525));
                text-align: center;
                margin-inline: auto;

                h5 {
                    font-size: f.rem(32);
                    margin-bottom: f.rem(24);
                }

                p {
                    line-height: 1.7;
                }
            }
        }
    }

    @include bp.breakpointMin(large-screen) {

        &__container {

            & > article {
                
                .features {
                    margin-inline: 0;
                    margin-inline-start: auto;
                    text-align: left;
                }
            }
        }
    }
}