@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* DISPLAY */

/* BUTTON DISPLAY */
.btn-style {
    display: flex;
    align-items: center;
    gap: f.rem(16);
}

/* HEADER DISPLAY */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__navigation {
        .nav__dropdown {
            display: flex;
            flex-direction: column;
            gap: f.rem(10);
        }

        .dropdown {
            transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
            
            transform: translateY(0.5rem);
            visibility: hidden;
            opacity: 0;
            position: absolute;
            a {
                display: block;
            }
        }

        .show-dropdown {
            margin-block: f.rem(24);
            transform: translateY(0rem);
            visibility: visible;
            opacity: 1;
            position: unset;
        }

        .account {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: f.rem(28);
        }
    }
}

/* MAIN DISPLAY */
.main {
    article {
        .links {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: f.rem(15);
        }
    }
}

/* SECTION - FUTURE DISPLAY */
.future {
    // --gap: 3.125rem;
    &__display {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            'img'
            'article';

        & > article {
            gap: 3.125rem;
            gap: clamp(3.125rem, 0.81rem + 9.88vw, 5.625rem);
        }

        @include bp.breakpointMin(medium-screen) {
            // --gap: 5.625rem;
        }

        .future__img {
            grid-area: img;
        }

        & > article {
            grid-area: article;
        }
    }
}

/* SECTION - FUTURE DISPLAY */
.editor {
    &__display {
        margin-inline: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: f.rem(32);
        

        @include bp.breakpointMin(large-screen) {
            .editor__img {
                grid-area: img;
            }

            article {
                grid-area: article-content;
            }
        }
    }
}

/* FOOTER DISPLAY */
.footer {
    &__display {
        display: flex;
        flex-direction: column;
        gap: f.rem(32);
    }

    &__nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: f.rem(8);
    }
}

/* LOCAL DISPLAY */
.flex-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

// .header,
// .main,
// .future,
// .infrastructure,
// .editor {
//     display: none;
// }
