@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* DISPLAY */

/* BUTTON DISPLAY */
.btn-style {
    display: flex;
    align-items: center;
    gap: f.rem(16);
}

/* HEADER DISPLAY */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__navigation {
        .nav__dropdown {
            display: flex;
            flex-direction: column;
            gap: f.rem(10);
        }

        .dropdown {
            transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
            
            transform: translateY(0.5rem);
            visibility: hidden;
            opacity: 0;
            position: absolute;

            a {
                display: block;
            }
        }

        .show-dropdown {
            margin-block: f.rem(24);
            transform: translateY(0rem);
            visibility: visible;
            opacity: 1;
            position: unset;
        }

        .account {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: f.rem(28);
        }
    }

    @include bp.breakpointMin(medium-screen) {
        // justify-content: unset;
        text-align: left;
        padding-block: f.rem(50);
        gap: f.rem(32);

        &__navigation {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .nav__dropdown {
                flex-direction: row;
                align-items: center;
            }

            .account {
                flex-direction: row;
            }

            .show-dropdown {
                position: absolute;
            }
        }
    }
}

/* MAIN DISPLAY */
.main {
    article {
        .links {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: f.rem(15);
        }
    }
}

/* SECTION - FUTURE DISPLAY */
.future {
    // --gap: 3.125rem;
    &__display {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            'img'
            'article';

        & > article {
            gap: 3.125rem;
            gap: clamp(3.125rem, 0.81rem + 9.88vw, 5.625rem);
        }

        @include bp.breakpointMin(xlarge-screen) {
            grid-template-areas: 
                'article img';
        }

        .future__img {
            grid-area: img;
        }

        & > article {
            grid-area: article;
        }
    }
}

/* SECTION - FUTURE DISPLAY */
.editor {
    &__display {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            'img'
            'article';

        & > article {
            gap: 3.125rem;
            gap: clamp(3.125rem, 0.81rem + 9.88vw, 5.625rem);
        }
        

        @include bp.breakpointMin(xlarge-screen) {
            grid-template-areas: 
                'article img';
        }

        .editor__img {
            grid-area: img;
        }

        & > article {
            grid-area: article;
        }
    }
}

/* FOOTER DISPLAY */
.footer {

    &__display {
        display: flex;
        flex-direction: column;
        gap: f.rem(32);
    }

    &__nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: f.rem(8);
        font-size: 1.125rem;
        font-size: clamp(1.125rem, 1.04rem + 0.37vw, 1.25rem);

        a {
            font-size: 1rem;
            font-size: clamp(1rem, 0.91rem + 0.37vw, 1.125rem);
        }
    }

    @include bp.breakpointMin(large-screen) {
        &__display {
            flex-direction: row;
            gap: 15%;
        }

        &__nav {
            justify-content: unset;
        }
    }
}

/* LOCAL DISPLAY */
.flex-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

// .header,
// .main
// .future,
// .infrastructure,
// .editor, .footer
// {
//     display: none;
// }
