@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* POSITION */

/* HEADER POSITION */
.header {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    
    &__navigation {
        position: absolute;
        width: 100%;
        top: 120px;
    }
}

/* MAIN POSITION */
.main {
    position: relative;
    z-index: 10;

    &__bg-img {
        position: absolute;
        z-index: -1;
        left: 50%;
        top: 50%;
        transform: translate(-40%, -45%);
    }
}

/* SECTION - INFRASTRUCTURE POSITION */
.infrastructure {
    position: relative;
    z-index: 10;

    &__bg {
        z-index: -1;
        width: 100%;
        height: 100%;
        // background-color: rgba(255, 0, 0, 0.26);
        position: absolute;
        left: 46.5%;
        top: 46.5%;
        transform: translate(-46.5%, -46.5%);

        img {
            position: inherit;
            top: -200px;
            left: 50%;
            transform: translateX(-50%);
           width: min(100%, f.rem(500));
        }

        background-image: url('../images/bg-pattern-circles.svg');
        background-repeat: no-repeat;
        background-position: bottom;
    }

    @include bp.breakpointMin(xlarge-screen) {
        &__bg {
            left: 10%;
            transform: translate(-20%, -46.5%);
            img {
                width: 700px;
                top: -25%;
                left: 10%;
                transform: translate(10%);
            }

            background-position: bottom left;
        }
    }
}