@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* POSITION */

/* HEADER */
.header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    
    &__navigation {
        position: absolute;
        width: 100%;
        top: 50px;
    }
}