@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* POSITION */

/* HEADER POSITION */
.header {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    
    &__navigation {
        position: absolute;
        width: 100%;
        top: 120px;
    }

    @include bp.breakpointMin(medium-screen) {
        &__navigation {
            position: unset;
            width: unset;

            .dropdown-product {
                position: relative;
                .dropdown {
                    position: absolute;
                    right: 0;
                }
            }

            .dropdown-company {
                position: relative;

                .dropdown {
                    position: absolute;
                    left: -5px;
                }
            }
        }
    }
}

/* MAIN POSITION */
.main {
    position: relative;
    z-index: 10;

    &__bg-img {
        position: absolute;
        z-index: -1;
        left: 50%;
        top: 50%;
        transform: translate(-40%, -45%);
    }
}

/* SECTION - INFRASTRUCTURE POSITION */
.infrastructure {
    position: relative;
    z-index: 10;

    &__bg {
        z-index: -1;
        width: 100%;
        height: 100%;
        // background-color: rgba(255, 0, 0, 0.26);
        position: absolute;
        left: 46.5%;
        top: 46.5%;
        transform: translate(-46.5%, -46.5%);

        img {
            position: inherit;
            top: -200px;
            left: 50%;
            transform: translateX(-50%);
           width: min(100%, f.rem(500));
        }

        background-image: url('../images/bg-pattern-circles.svg');
        background-repeat: no-repeat;
        background-position: bottom;
    }

    @include bp.breakpointMin(xlarge-screen) {
        &__bg {
            left: 10%;
            transform: translate(-20%, -46.5%);
            img {
                width: 700px;
                top: -25%;
                left: 10%;
                transform: translate(10%);
            }

            background-position: bottom left;
        }
    }
}

/* SECTION - FUTURE */
.future {
    @include bp.breakpointMin(xlarge-screen) {
        position: relative;
        &__position {
    
            .future__img {
                position: absolute;
                width: 60%;
                left: 50%;
                top: f.rem(64);
            }
        }
    }
}

/* SECTION - EDITOR POSITION */
.editor {
    @include bp.breakpointMin(xlarge-screen) {
        position: relative;
    
        &__position {
            
            .editor__img {
                position: absolute;
                width: 70%;
                top: -30%;
                right: 50%;
            }
        }
    }
}

/* FOOTER */
.footer {
    position: relative;

    .attribution {
        position: absolute;
        bottom: 1px;
        left: 50%;
        transform: translateX(-50%);

        a {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: -2px;
                left: 0;
                right: 0;
                margin-inline: auto;
                width: 0;
                height: 2px;
                background-color: white;
                transition: .3s ease-in-out;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }
}