@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* FOOTER */

.footer {
    margin-top: auto;
    background-color: var(--footer-bg-clr);
    padding-block: f.rem(65);
    border-radius: 0 f.rem(100) 0 0;

    &__container {
        width: min(100%, f.rem(1110));
        margin-inline: auto;
        text-align: center;
    }

    &__logo {
        margin-inline: auto;
    }

    &__nav {
        color: var(--white);

        a {
            color: var(--footer-txt);
        }

        a:first-child {
            margin-top: f.rem(12);
        }
    }
}

.attribution { 
    text-align: center; 
    color: var(--footer-txt);
    font-size: f.rem(12);
}

.attribution a { 
    font-size: f.rem(14);
    color: var(--white); 
}